<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="scripts/vue.js"></script>
    <title>Parcial I - Ezequiel Kupervaser</title>
  </head>
  <body>
    <main id="app-container">
      <header>
        <h1>Registro<br>de animales</h1>
        <button v-if="hideForm" @click="displayForm($event)">Cargar Nuevo Animal</button>
        <button v-else @click="displayForm($event)">Cerrar formulario de carga</button>
      </header>

      <component-form :get-animals-list="getAnimalsList" v-bind:class="[hideForm ? 'hideForm' : 'showForm']">
 
      </component-form>

      <ul v-if="animalsList" class="list-card">
        <component-card v-for="(animal, index) in animalsList" 
        :nombre=animal.animalName
        :especie=animal.especie
        :raza=animal.raza
        :edad=animal.edad
        :sexo=animal.sexo
        :color=animal.color
        :tamanio=animal.tamanio
        :nombre-dueno=animal.nombreDueno
        :email-dueno=animal.emailDueno
        :telefono-dueno=animal.telefonoDueno
        :info-adicional=animal.infoAdicional
        >
      </component-card>
      </ul>

      <p v-else>Todavía no se registraron animales. <button @click="displayForm()">¡Registra el primero!</button></p>
      
    </main>

    <footer></footer>
    <script src="components/component-form.js"></script>
    <script src="components/component-card.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
