*{
    font-family: Helvetica,Arial, sans-serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #F29950;
}
header {
  background: url('../img/bg.jpg') center center no-repeat;
  background-size: cover;
  text-align: left;
 height: 80vh;
 text-transform: uppercase;
 font-weight: bold;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;

}



h1 {
  font-size: 4rem;
  width: 90%;
  margin: 0;
}
header > button {
  background: white;
  color: black;
  margin: 12px auto 0 5%;
}
main > p {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
}
main > p button{
  background: black;
}
form {
  width: calc(100% - 40px);
    max-width: 400px;
    margin: 12px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  .showForm {
    display: block;
  }

  .hideForm {
    display: none;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
  }

  select {
    height: 34px;
  }

  textarea {
    height: 100px;
  }


  button {
    background-color: #F29950;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #f9af72;
  }


  /*Card*/
  .list-card{
    list-style: none;
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;
  }
.card {
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  font-family: Arial, sans-serif;
  background: white;
  width: 100%;
}


@media (min-width: 768px) {
  .card {
    width: 30%;
  }
}

.card h2 {
  font-size: 18px;
  margin-top: 0;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  margin-bottom: 10px;
}

.card img {
  width: 24px;
}

.card strong {
  font-weight: bold;
}

.card span {
  font-weight: normal;
}

.card p {
  margin-top: 0;
}
